{
    "semi": true,                // 명령문 끝에 세미콜론 붙임
    "singleQuote": true,         // 홑따옴표 사용
    "printWidth": 100,           // 한 줄 최대 길이
    "tabWidth": 2,               // 들여쓰기 칸 수
    "useTabs": false,            // 스페이스 사용 (탭 X)
    "trailingComma": "es5",      // 객체/배열 끝에 쉼표
    "bracketSpacing": true,      // 객체 중괄호에 띄어쓰기
    "arrowParens": "always",     // 화살표 함수 매개변수 괄호 항상 사용
    "endOfLine": "auto"          // OS에 맞게 줄바꿈 자동 설정
  }