# Java
*.class
/bin/
/build/
target/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.idea/
*.iml
.project
.classpath
.settings/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Node.js / React
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Archives
*.zip
*.tar.gz
*.rar


# Secret
.env

